<div class="title flex items-end justify-between">
  <a class="text-2xl font-bold mr-8" href="{{'/' | relative_url}}">Baba.</a>
  <select id="picker-lang" class="text-3xl font-bold cursor-pointer">
    <option value="id-en">🇬🇧</option>
    <option value="en-pt">🇧🇷</option>
  </select>
</div>

<script src="{{'/assets/js/useLanguageSwitcher.js' | relative_url}}"></script>
<script>
  document.addEventListener("DOMContentLoaded", async () => {
    const pickerEl = document.getElementById("picker-lang");
    const switcher = await useLanguageSwitcher();

    pickerEl.value = switcher.get();
    pickerEl.addEventListener("change", async function () {
      await switcher.set(pickerEl.value);
      window.location.reload();
    });
  });
</script>
