<script>
  const PopupLanguageSwitchNotSupported = new Popup({
    id: "not-supported",
    title: "Thank you for trying out Baba!",
    content: `
        I'm planning to expand to other languages. But for now, Baba only support Portugues.
        Send me a message to (maybe) change my development priorities.`,
  });

  const showNoSwitchSupportPopup = () => PopupLanguageSwitchNotSupported.show();
</script>

<div class="title flex items-end justify-between">
  <a class="text-2xl font-bold mr-8" href="{{'/' | relative_url}}">Baba.</a>
  <a onclick="showNoSwitchSupportPopup()" class="text-2xl font-bold cursor-pointer">🇧🇷</a>
</div>
