---
layout: default
---

<title>Baba - {{ page.title }}</title>

<div class="separator mt-10"></div>
<div class="content flex flex-col">
  <div class="separator mt-2"></div>
  <div class="ba-serif max-w-md text-4xl font-black leading-normal">
    <a href="{{ post.url | relative_url}}"><span class=""></span> {{ page.title }}</a>
  </div>
  <div class="excerpt text-lg leading-loose flex flex-col gap-y-5 mt-3 text-gray-700">{{ page.content }}</div>
  <div class="excerpt text-lg italic leading-loose gap-y-5 mt-6 text-green-800">
    <span class="font-semibold">Morals of Story:</span>
    {{ page.moral }}
  </div>
  <div class="separator mt-6"></div>
</div>

<div class="button-reels flex flex-row gap-4 mt-3">
  <a
    href="{{'/storybank' | relative_url}}"
    id="bt-read"
    class="bg-lime-600 px-4 py-3 text-white font-bold hover:bg-lime-700 focus:bg-lime-700 focus:outline-none focus:shadow-outline"
    >Read Other Stories</a
  >
</div>

<div class="separator mt-20"></div>

{% include scripts/load_dictionary.md %} {% include scripts/decorate_story.md %}
