---
layout: default
---

<title>Baba - {{ page.title }}</title>

<script src="https://unpkg.com/@popperjs/core@2"></script>

<div class="separator mt-10"></div>
<div class="content flex flex-col">
  <div class="separator mt-2"></div>
  <div id="story-title" class="flex flex-col max-w-md gap-2">
    <a class="text-md text-lg font-bold text-lime-600 leading-normal" href="{{ post.url | relative_url}}">{{ page.title }}</a>
    <a class="data ba-serif text-4xl font-black leading-normal" href="{{ post.url | relative_url}}">{{ page.title }}</a>
    <span id="warning-no-translation" class="text-md text-sm max-w-sm text-gray-500 leading-normal mt-2" href="{{ post.url | relative_url}}">
      Has no translation in your language choice, yet.
    </span>
  </div>
  <div class="separator mt-3"></div>
  <div id="story-content">
    <div class="data excerpt text-lg leading-loose flex flex-col gap-y-5 mt-2 text-gray-700">{{ page.content }}</div>
  </div>
  <div id="story-moral" class="excerpt text-lg italic leading-loose gap-y-3 mt-6 text-green-800">
    <span class="font-semibold">Morals of Story:</span>
    <div class="data">{{ page.moral }}</div>
  </div>
  <div class="separator mt-6"></div>
</div>

<div class="button-reels flex flex-row gap-4 mt-3">
  <a
    href="{{'/storybank' | relative_url}}"
    id="bt-read"
    class="bg-lime-600 px-4 py-3 text-white font-bold hover:bg-lime-700 focus:bg-lime-700 focus:outline-none focus:shadow-outline"
    >Read Other Stories</a
  >
</div>
<div class="separator mt-20"></div>

<div id="tooltip" class="px-3 py-1 bg-black text-white text-center rounded-md" role="tooltip">
  <div id="content">Translation Not Found</div>
  <div id="arrow" data-popper-arrow></div>
</div>

<style>
  #arrow,
  #arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
  }
  #arrow {
    visibility: hidden;
  }
  #arrow::before {
    visibility: visible;
    content: "";
    transform: rotate(45deg);
  }
  #tooltip {
    display: none;
  }
  #tooltip[data-show] {
    display: block;
  }
  #tooltip[data-popper-placement^="top"] > #arrow {
    bottom: -4px;
  }
  #tooltip[data-popper-placement^="bottom"] > #arrow {
    top: -4px;
  }
  #tooltip[data-popper-placement^="left"] > #arrow {
    right: -4px;
  }
  #tooltip[data-popper-placement^="right"] > #arrow {
    left: -4px;
  }
</style>

<!-- <script src="{{'/assets/js/useDictionary.js' | relative_url}}"></script> -->
<script src="{{'/assets/js/useStoryAssets.js' | relative_url}}"></script>
<script src="{{'/assets/js/storify.js' | relative_url}}"></script>
